<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>صفحه ی اصلی </title>
</head>

<body style="text-align: right; direction: rtl;font-family:Verdana, Geneva, Tahoma, sans-serif;background-color: rgb(248, 241, 241)">

  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">مقالات  شما </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/panel/login" style="color: rgb(255, 255, 255);font-size: 1.2rem; background-color: #871E9A;border-radius: 10px;padding: 8px 15px;margin:3px 5px; text-align: center">ورود</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/panel/signup" style="color: white;font-size: 1.2rem;background-color: tomato; border-radius: 10px;padding: 8px 15px;margin:3px 5px; text-align: center">ثبت نام</a>
        </li>
        
      </ul>

      
    </div>
  </nav>


  
    <%contents.forEach(function(content){%>
      <div class="container py-2" style="border:solid #871E9A;margin-top: 20px">
        <h3>
          
          <span style="color:#871E9A">عنوان مقاله: <%=content.title%></span>
        </h3>
        
        <p>
          <span>
            نویسنده: <%=content.author%>
          </span>
        </p>
        <p>
          <p>محتوای مقاله:</p>
          
           
              <%=content.text%>
            
          
        </p>
        <p>
            <span>  
              ایجاد شده در تاریخ: <%=content.createDate%>
          
            </span>
          </p>
      </div>
  
<br>
  <!-- <hr> -->
  <%})%>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>